@model IEnumerable<CategoryDto>

<li class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Category<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Product" asp-action="List" asp-route-category="">All Products</a>
        </li>
        <li class="divider"></li>
        @foreach(var category in Model)
        {
            <li>
                <a asp-controller="Product" asp-action="List" asp-route-categoryId="@category.CategoryId">@category.CategoryName</a>
            </li>
        }
    </ul>

   
</li>