@model IEnumerable<Infrastructure.Models.Dtos.CategoryDto>


<li class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        category<b class="caret"></b>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li class="dropdown-item">
            <a class="nav-link text-dark" asp-controller="Product" asp-action="Products" asp-route-category="">All Products</a>
        </li>
        <li class="divider"></li>
        @foreach(var category in Model)
        {
            <li class="dropdown-item">
                <a class="nav-link text-dark" asp-controller="Product" asp-action="Products" asp-route-categoryId="@category.CategoryId">@category.CategoryName</a>
            </li>
        }
    </ul>
</li>