@{
    Layout = "_AdminLayout";
}
<ul>
    <li>
        <a asp-area="Admin" asp-controller="OrderLog" asp-action="Index">Order Log</a>
        <a asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a>
    </li>
</ul>

