@{
    Layout = "_AdminLayout";
}

<ul class="list-group mt-5">
    <li class="list-group-item">
        <h4 class="display-6"><a asp-area="Admin" asp-controller="OrderLog" asp-action="Index">Order Log</a></h4>
    </li>
    <li class="list-group-item">
        <h4 class="display-6"><a asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a></h4>
    </li>
    <li class="list-group-item"><h4 class="display-6">Morbi leo risus</h4></li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>

