@{
    Layout = "_AdminLayout";
}
<ul>
    <li>
        <a asp-area="Admin" asp-controller="OrderLog" asp-action="Index">Order Log</a>
    </li>
</ul>
<a href="/Admin/OrderLog" asp-area="Admin" asp-controller="OrderLog" asp-action="Index">Admin</a>

