@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>On Sale</h2>
<div class="row">
    @foreach(var product in Model.ProductsOnSale)
    {
        <partial name="_productCard" model="product" />
    }
</div>
